<div class="sidebar" data-color="purple" data-background-color="white">
    <div class="logo">
        <span class="nav-title">
            Categories
        </span>
        <span class="add-icon-area">
            <button mat-icon-button class="add-icon" (click)="openAddDialog()">
                <mat-icon>add</mat-icon>
            </button>
        </span>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">


            <div class="search-category-area">

                <mat-form-field class="example-full-width">
                    <input matInput maxlength="256" placeholder="Поиск категорий" [(ngModel)]="filterTitle" (ngModelChange)="this.checkFilterChanged()" (keydown.escape)="clearAndSearch()" />

                    <button *ngIf="filterTitle && filterTitle.trim().length > 0" mat-button matSuffix mat-icon-button aria-label="Clear" class="search-category-button" (click)="clearAndSearch()">
                <mat-icon>clear</mat-icon>
            </button>

                    <button *ngIf="filterTitle && filterTitle.trim().length > 0" mat-button matSuffix mat-icon-button (click)="search()" [ngClass]="{'blink-button': filterChanged}">
                <mat-icon>search</mat-icon>
            </button>


                </mat-form-field>
            </div>


            <li class="nav-item category" (click)="showTaskByCategory(null!)" [class.active]="selectedCategory===null">
                <a class="nav-link pointer">
                    <span class="all-category-title">All</span>

                    <span class="uncompleted-count">{{uncompletedCountForCategoryAll}}</span>
                </a>
            </li>
            <div class="line"></div>

            <div *ngIf="categories && categories.length === 0">
                <p class="not-found"> Nothing found</p>
            </div>


            <li (click)="showTaskByCategory(category)" (mouseenter)="showEditIcon(index)" (mouseleave)="showEditIcon(null!)" *ngFor="let category of categories; let index = index" [class.active]="category === selectedCategory" class="nav-item pointer">
                <a class="nav-link">

                    <span class="category-title">{{category.title}}</span>


                    <span class="edit-category-icon-area">

                        <mat-icon
                        (click)="$event.stopPropagation(); openEditDialog(category)"
                        *ngIf="indexMouseMove === index"
                        class="edit-category-icon">edit </mat-icon>
                    </span>


                    <span class="uncompleted-count"> {{category.uncompletedCount || 0}}</span>


                </a>
            </li>
        </ul>
    </div>
</div>